name: Test npm package

on:
  workflow_call:
    inputs:
      package:
        type: string
        default: everything-json@latest
        description: package tarball or npm name to install
      download:
        type: boolean
        default: false
        description: whether the package artifact needs to be downloaded
  workflow_dispatch:
    inputs:
      package:
        type: string
        default: everything-json@latest
        description: package tarball or npm name to install


jobs:
  test_npm_binaries:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - windows-2019
          - windows-2022
          - macos-15
          - macos-15-intel
        node-version: [18.x, 20.x, 22.x, 24.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Download the package
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.package }}
        if: inputs.download
      - name: Create package.json
        run: npm init --yes
      - uses: actions/checkout@v6
        with:
          path: git-checkout
      - name: Set up the unit tests
        shell: bash
        run: mv git-checkout/test .
      - name: Install dependencies
        run: |
          npm i chai@4.4.1 chai-spies chai-as-promised mocha typescript tsx tsconfig-paths @types/chai@4.3.11 @types/chai-as-promised @types/mocha @types/node @types/geojson piscina
      - name: Install everything-json from npm
        run: npm install ${{ inputs.package }}
        shell: bash
      - name: Run the unit tests
        shell: bash
        run: |
          cd test
          echo '{"compilerOptions":{"moduleResolution":"node","strict":true,"strictNullChecks":true,"target":"ES2015","esModuleInterop":true}}' > tsconfig.json
          npx tsc --noEmit
          npx mocha --require tsx --extension ts --reporter=tap --node-option=expose-gc *.test.ts *.standalone.*js


  test_npm_rebuild:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2022
          - macos-15
          - macos-15-intel
        node-version: [18.x, 20.x, 22.x, 24.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Download the package
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.package }}
        if: inputs.download
      - name: Create package.json
        run: npm init --yes
      - uses: actions/checkout@v6
        with:
          path: git-checkout
      - name: Set up the unit tests
        shell: bash
        run: mv git-checkout/test .
      - name: Install dependencies
        run: |
          npm i chai@4.4.1 chai-spies chai-as-promised mocha typescript tsx tsconfig-paths @types/chai@4.3.11 @types/chai-as-promised @types/mocha @types/node @types/geojson piscina
      - name: Install everything-json from npm
        run: |
          [[ '${{ matrix.platform }}' =~ 'windows' ]] && subst M: `pwd` && cd M:/
          npm install ${{ inputs.package }} --build-from-source
        shell: bash
      - name: Run the unit tests
        shell: bash
        run: |
          cd test
          echo '{"compilerOptions":{"moduleResolution":"node","strict":true,"strictNullChecks":true,"target":"ES2015","esModuleInterop":true}}' > tsconfig.json
          npx tsc --noEmit
          npx mocha --require tsx --extension ts --reporter=tap --node-option=expose-gc *.test.ts *.standalone.*js
